*{
  background-color: rgb(40, 40, 40);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'popins',sans-serif;
}.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  color: white;
}
.menu{
  display: none;
}.container2{
  width: 100%;
 
  height: 900px;
  
}.arc{
  border: 2px solid rgb(75, 75, 75) ;
  height: 400px;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  border-radius:  12px;
}.title{
  color: white;
  

}#s1{
  margin: 1rem;
}.fimg{
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}.content{
   color: rgb(236, 236, 236);
   overflow: hidden;

}header{
  border-bottom: 1px solid grey;
}.img2{
  width: 100%;
  height: 100%;
}.pic{
  border: 3px solid rgb(234, 234, 234);
  height: 70px;
  width: 120px;
  margin: 0.4rem;
}.othercontainer{
  border: 3px solid rgb(101, 101, 101);
  width: 100%;
  height: 100px;
  margin-top: 1rem;
  display: flex;
  border-radius: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  overflow: hidden;
 
}.head{
  font-size: small;
  margin-bottom: 0.3rem;
}.content2{
  font-size: x-small;
}.con{
  width: 100%;
  line-height: 18px;
  margin-left: 0.5rem;
  overflow: hidden;
  height: 70px;
}
.maincontent{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}















.card{
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 10px;
}
.first li:hover{
  color: rgb(0, 162, 255);
  transition: 1s ease-in-out;
  cursor: pointer;
}




.card .poster{
  position: relative;
  overflow: hidden;
}.card .poster img{
  width: 100%;
  transition: 0.5s ease-in-out;
}.card  .poster::before{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 60%, transparent) ;
  transition: 0.5s;
  z-index: 1;
  bottom: -180px;
}.card:hover  .poster::before{
  bottom: 0px;
}
.card:hover .poster img{
  transform: translateY(-50px);
  filter: blur(1.9px);
}.card .details{
  color: white;
  position: absolute;
  bottom: -140px;
  width: 100%;
  z-index: 2;
  left: 0;
  transition: 0.5s;
  padding: 10px;
  

}.card:hover .details{
  bottom: -20px;
}.title{
  font-size: larger;
  margin-bottom: 1rem;
}.card:hover{
  box-shadow: 5px 5px 20px rgb(99, 68, 185);
  border: 2px solid rgb(111, 0, 190);
}.s2{
  padding: 1rem;
}footer{
  border-top: 1px solid grey;
  margin-top: 2rem;
}p{
  font-size:small;
}.contact{
  font-size:small;
}.last{
  font-size:small;
}



.discli{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}.contact{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}.about{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h2{
  color: white;
  font-size:larger;
  margin-bottom: 1rem;
}.containerfoot{
  color: white;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



@media only screen and (min-width: 1200px){

  .contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }.ladt{
    display: flex;
    flex-direction: column;
  }
  
.menu{
  display: flex;
}.menu22{
  display: none;
}.first{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
 .first li{
  list-style-type: none;
  font-size: large;
}
header{
  padding: 1rem;
}#logo{
  font-size: larger;
}
.container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
 

}.arc{
  border: 2px solid rgb(75, 75, 75) ;
  height: 630px;
  width: 90%;
  padding: 1rem;
  margin-left: 2rem;
  border-radius:  12px;
}#s1{
  margin: 3rem;
}
.othercontainer{
  border: 3px solid rgb(101, 101, 101);
  width: 640px;
  height: 140px;
  margin-top: 1rem;
  display: flex;
  border-radius: 12px;
  flex-direction: row;
  align-items: center;
  margin-right: 2rem;
  color: white;
  overflow: hidden;
 
}
.con{
  width: 100%;
  line-height: 18px;
  margin-left: 0.5rem;
  overflow: hidden;
  height: 100px;
}
.fimg{
  width: 100%;
  height: 450px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}.img2{
  width: 100%;
  height: 100%;
}.pic{
  
  height: 100px;
  width: 180px;
  margin: 0.4rem;
  border-radius: 10px;
}
.maincontent{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.s2{
  padding: 3rem;
}
.containerfoot{
  color: white;
  margin: 3rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
footer{
  border-top: 1px solid grey;
  height: 400px;
  
}



h2{
  color: white;
  font-size: xx-large;
  margin-bottom: 1rem;
}


}


 

